# Fichier template pour les variables d'environnement du serveur de base de données
# Copier ce fichier vers .env et modifier les valeurs

# Configuration PostgreSQL
POSTGRES_DB=samaconso
POSTGRES_USER=postgres
POSTGRES_PASSWORD=s3n3l3c123

# Configuration RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=Senelec2024!

# Configuration MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=Senelec2024!

